.div{
background-color: white;
border-right:solid 0.1px rgb(190, 190, 190) ;
display: flex;
flex-direction: column;
width: 210px;
padding: 9px;
height: 100vh;
align-items: center;

gap: 70px;
justify-content: center;
}
.nav{
    display: flex;
    flex-direction: column;
}
.div p{
    color: rgb(142, 142, 142);
}

@media   (min-width: 100px) and (max-width:660px)  {
   .div{display: none;}
}
.navtwo{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.navtwo textarea{
    resize: none;
border: none;
outline: none;
}